@use "../../../styles/variables" as variables;

.latinInput {
  direction: ltr;
  font-family: variables.$font-family-latin !important;
  text-align: left;

  &::placeholder {
    direction: rtl;
    font-family: variables.$font-family !important;
    text-align: right;
  }
}

.latinText {
  direction: ltr;
  font-family: variables.$font-family-latin !important;
}
