.root {
  width: 100%;
}

.root :global(.MuiInputBase-root) {
  position: relative;
}

.root :global(.MuiAutocomplete-inputRoot) {
  padding-left: 0 !important;
}

.root :global(.MuiAutocomplete-input) {
  min-width: 0 !important;
  width: 100% !important;
}

.clearButton {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  z-index: 2;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;
}

.root:hover .clearButton {
  opacity: 1;
  pointer-events: auto;
}
