.root {
  display: flex;
  justify-content: center;
  inline-size: 100%;
  max-inline-size: 18rem;
  min-block-size: 5rem;
  line-height: 0;

  :global(a) {
    display: inline-block;
    line-height: 0;
  }

  :global(img) {
    display: block;
    cursor: pointer;
    max-inline-size: 100%;
    block-size: auto;
  }
}
